.activity {
  .headers {
    margin-top: 0.6875rem;
  }

  .headers,
  .item {
    display: grid;
    grid-template-columns: 1.4fr 1fr 1.4fr 1.3fr 1fr;
    padding: 0.625rem 1rem;
    align-items: center;
  }

  .items {
    max-height: 23.5vh;
    overflow-y: auto;
    padding-right: 0.5rem;
  }

  .items::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .items::-webkit-scrollbar-track {
    width: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .items::-webkit-scrollbar-thumb {
    background-color: rgba(151, 221, 221, 1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .item:not(:first-child) {
    margin-top: 0.5rem;
  }

  .item {
    background: #252330;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #ffffff;
  }

  .type {
    color: #97dddd;
  }

  .headers {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: #7a7b8a;
    padding-right: 2rem !important;
  }
}
