.webhook {
  .smheader {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #fff;
  }

  .flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
